@import './../../_variables.scss';

.switch-container {
  position: relative;
  .inner {
    position: absolute;
    top: 30%;
    left: 35%;
    .switch {
      position: relative;
      display: inline-block;
      width: 77.7%;
      height: 25px;
      input {
        display: none;
        &:checked + .slider {
          background-color: $primary;
        }
        &:checked + .slider:before {
          -webkit-transform: translateX(20px);
          -ms-transform: translateX(20px);
          transform: translateX(20px);
        }
      }
      .slider {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $light;
        transition: 0.4s;
        &:before {
          position: absolute;
          content: '';
          height: 17px;
          width: 20px;
          left: 5px;
          bottom: 4px;
          background-color: white;
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }
      }
    }
  }
}
