@import './../../_variables.scss';

.drum-pad {
    border-radius: 10px;
    width: 90%;
    margin-bottom: 10px;
    background-color: rgb(238, 238, 238);
    box-shadow: 3px 7px 5px #273746;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    &.active {
      background-color: $primary;
      transform: translateY(4px);
      box-shadow: 3px 3px 5px black;
    }
    &.inactive {
      transform: translateY(4px);
      box-shadow: 3px 3px 5px black;
    }
  }