@import './_variables.scss';

.wrap {
  width: 1000px;
  padding: 5%;
  margin: 10% auto 0 auto;
  position: relative;
  display: grid;
  grid-template-columns: 9fr 1fr;
  grid-template-rows: 90% auto;
  grid-template-areas:
    'drum-machine side'
    'bottom side';

  #drum-machine {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 2%;
    z-index: 3;
    background-color: $main_background;
  }

  .bottom {
    grid-area: bottom;
    height: 30px;
    width: 100.3%;
    position: relative;
    top: -1px;
    left: 16.8px;
    z-index: 2;
    -webkit-transform: skew(49deg);
    -moz-transform: skew(49deg);
    -o-transform: skew(49deg);
    border-right: darken($main_background, 47%) 5px solid;
    background-color: darken($main_background, 35%);
  }

  .side {
    grid-area: side;
    width: 36px;
    height: 90%;
    position: relative;
    top: 14.9px;
    -webkit-transform: skewY(40deg);
    -moz-transform: skewY(40deg);
    -o-transform: skewY(40deg);
    background-color: darken($main_background, 35%);
  }
}

@media screen and (max-width: 650px) {
  .wrap {
    transform: scale(0.8);
    margin: 0;
  }
}
