@import url('https://fonts.googleapis.com/css?family=Kanit');

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}

body {
  overflow: hidden;
}
