@import url('https://fonts.googleapis.com/css?family=Shrikhand');

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Shrikhand', cursive;
}

body {
  overflow: hidden;
}
