@import url('https://fonts.googleapis.com/css?family=Kanit');

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}

body {
  background-color: #abebc6;
  font-size: 1.5em;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}