.drum-pad-bank {
    padding: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .drum-pad {
      border-radius: 10px;
      width: 90%;
      margin-bottom: 10px;
      background-color: grey;
      box-shadow: 3px 4px 5px black;
      text-align: center;
      line-height: 100px;
      font-weight: bold;
    }
  }